@model IEnumerable<MYUSIS.Models.Faculty>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Fakülteler: </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Fakülte Adı</th>
                            <th>Düzenleme</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Fakülte Adı</th>
                            <th>Düzenleme</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FacultyName)
                                </td>
                                <td>
                                    @Html.ActionLink("Düzenle", "Edit", new { id = item.FacultyID }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Detaylar", "Details", new { id = item.FacultyID }, new { @class = "btn btn-warning" })
                                    @Html.ActionLink("Sil", "Delete", new { id = item.FacultyID }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>