
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div>
    <div align="center"><img src="https://pbs.twimg.com/profile_images/1034154573555032064/8N4x-Zn6.jpg" /></div>
</div>