
@{
    ViewBag.Title = "Ogrenci";
    Layout = "~/Views/Shared/_LayoutPageOgrenci.cshtml";
}

    <div>
        <img style="width: 450px;margin-left: 300px;" src="~/Dosyalar/ytulogo.png" />
    </div>