
@{
    ViewBag.Title = "OgretmenIslem";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<form class="nav-item" style="text-align: center">
    <div id="" class="" aria-labelledby="" data-parent="">
        <div class="bg-white py-2 collapse-inner rounded">
            <!-- Content Row -->

            <h2 style="text-align:center;">ÖĞRETMEN İŞLEMLERİ KISAYOLLARI</h2>
            <div class="row" style="margin-left:200px; margin-top: 25px;">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-gradient-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-white text-uppercase mb-1">ogretmen Programları</div>
                                    <a href="/LecturerCourses/Create" class="btn btn-outline-light">
                                        <span class="text">Ekle</span>
                                    </a>
                                    <a href="/LecturerCourses/Index" class="btn btn-outline-light">
                                        <span class="text">Görüntüle</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-4 mb-4">
                    <div class="card bg-gradient-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-white text-uppercase mb-1">ogretmen Bilgileri</div>
                                    <a href="/Lecturers/Create" class="btn btn-outline-light">
                                        <span class="text">Ekle</span>
                                    </a>
                                    <a href="/Lecturers/Index" class="btn btn-outline-light">
                                        <span class="text">Görüntüle</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 mb-4">
                    <div class="card bg-gradient-danger shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-white text-uppercase mb-1">admin Bilgileri</div>
                                    <a href="/Admins/Create" class="btn btn-outline-light">
                                        <span class="text">Ekle</span>
                                    </a>
                                    <a href="/Admins/Index" class="btn btn-outline-light">
                                        <span class="text">Görüntüle</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>
</form>
